.profile {
  padding: 20px;
  color: #fff;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile h1 {
  margin-bottom: 20px;
}

.profile-card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #2a2a2a;
  max-width: 500px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 15px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  background: #111;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
}

textarea {
  min-height: 80px;
  resize: none;
}

.save-btn {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #00ff88;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all ease 0.5s;
}
.save-btn:hover {
  opacity: 0.6;
}
.save-btn:active {
  transform: scale(0.8);
}
