*{
    box-sizing: border-box;
    color: aliceblue;
}
.App{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
background: #05070A;

background-image: 
  radial-gradient(circle at 20% 50%, rgba(250, 204, 21, 0.15), transparent 40%),
  radial-gradient(circle at 80% 20%, rgba(250, 204, 21, 0.08), transparent 50%);
} 
.spinner{
    
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
}
.loader{
    width: 150px;
border: 9px rgba(234, 255, 0, 0.721);
border-radius: 90px;
border-left: 9px #00000000;
border-style: double;
       height: 150px;
       animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}
.loader-text{
    margin-top: 50px;
}